include ../../common/variable.pug

section.testi(class="testi__layout")
    .testi__box
        h3= testiBoxOneH3Text
        p= testiBoxOnePText
        button(type="button") MORE
    .testi__box
        h3= testiBoxTwoH3Text
        p= testiBoxTwoPText
        button(type="button") MORE
    .testi__box
        h3= testiBoxThreeH3Text
        p= testiBoxThreeH3Text
        button(type="button") MORE